<DOCTYPE! html>
    <html ng-app="app">

    <head>
        <title>Very Simple To Do App</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link href='https://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="main.css">

        <body ng-controller="ListController">
            <h1><p id="my">My</p><p id="todoo">To-Dos</p></h1>
            <div id="both" class="container">
                <div class="row">
                    <div id="leftSide" class="col-sm-4">
                        <form name="todoform">
                            <label>text</label>
                            <br>
                            <input id="inputBox" type="text" ng-model="newtext">
                            <br>
                            <label>priority</label>
                            <br>
                            <select id="selectBox" ng-init="selectedOption = options[0]" ng-model="selectedOption" ng-options="option.priority for option in options" ng-class="selectedOption.value">
                            </select>
                            <br>
                            <button id="submitButton" type="submit" ng-click="addNewToDo(toDo)" href="" class="btn btn-primary">add todo</button>
                    </div>
                    </form>
                    <div id="rightSide" class="col-sm-6">
                    <div id="sorters">
                        <a id="priority" ng-click="sortField='number'; reverse = !reverse" href="" class="btn btn-primary">Order by priority</a>
                        <a id="alpha" ng-click="sortField='newtask'; reverse = !reverse" href="" class="btn btn-primary">Order alphabetically</a>
                        </div>
                        <br>
                        <br>
                        <table class="table">
                            <tr ng-class="todo.value" ng-repeat="todo in todos | orderBy: sortField: reverse">
                                <td>
                                    <p id="checkHere">
                                        <input type="checkbox">
                                    </p>
                                    <p id="theNewTask" ng-hide="editing">{{todo.newtask}}</p>
                                    <input ng-blur="editing = false;" ng-show="editing" ng-model="todo.newtask" id="editBox" type="text">
                                    <a ng-click="removeItem(todo, $index)" href=""><img id="trashcan" title="delete" src="http://i.imgur.com/KlwtXQC.png"></a>
                                    <a ng-click="editing = !editing" href=""><img id="pencil" title="edit" src="http://i.imgur.com/Nfxj7Lr.png"></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <script src="bower_components/angular/angular.js"></script>
            <script src="index.js"></script>
        </body>
